/* Coolors Exported Palette - coolors.co/f1edf2-bde4a8-3d1f34-774470-5f5275 */

/* HSL */
$color1: hsla(288%, 16%, 94%, 1);
$color2: hsla(99%, 53%, 78%, 1);
$color3: hsla(318%, 33%, 18%, 1);
$color4: hsla(308%, 27%, 37%, 1);
$color5: hsla(262%, 18%, 39%, 1);

/* RGB */
$color1: rgba(241, 237, 242, 1);
$color2: rgba(189, 228, 168, 1);
$color3: rgba(61, 31, 52, 1);
$color4: rgba(119, 68, 112, 1);
$color5: rgba(95, 82, 117, 1);
$color6: rgb(167, 95, 157);
